body {
	font-family: Inconsolata, sans-serif;
	margin: 50px;
}

#main {
	display: flex;
	justify-content: center;
}

#calc-wrapper {
	width: 450px;
	background-color: black;
	color: white;
	text-align: end;
	border-radius: 25px;
}

#old-values-display {
	height: 35px;
	margin-top: 20px;
	font-size: 25px;
	color: #a9a9a9;
	padding: 20px;
}

#current-values-display {
	height: 60px;
	font-size: 40px;
	padding: 20px;
	overflow-x: auto;
	white-space: nowrap;
}

#current-values-display > * {
	display: inline;
}

#buttons-container {
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	place-items: center;
	grid-gap: 15px;
}

button {
	font-family: Inconsolata, sans-serif;
	border: none;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	font-size: 40px;
}

button:hover {
	cursor: pointer;
}

.functions {
	background-color: #a9a9a9;
}

.functions:focus, .number:focus, #decimal-separator:focus {
	outline: transparent;
	box-shadow: 0 0 0 2px #fd8618;
}

.number, #decimal-separator {
	background-color: #312d2d;
	color: white;
}

.operator, #equals {
	background-color:#fd8618 ;
	color: white;
}

.operator:focus, #equals:focus {
	outline: transparent;
	box-shadow: 0 0 0 2px white;
}

#number-0 {
	grid-column-start: 1;
	grid-column-end: 3;
	width: 100%;
	border-radius: 50px;
}
